.inputContainer {
  max-width: 829px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 12px;  
}

.inputContainer button:last-child {
  margin-left: 80px;
}

.circlesContainer {
  margin: 52px auto 0;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 16px;
}